.cardContainer {
  display: flex;
  justify-content: center;
  align-content: baseline;
  flex-wrap: wrap;
  padding-left: 8px;
  padding-right: 8px;

  position: absolute;
  overflow:  auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  width: 100%;
  text-align: center;
}

.basis100 {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.moreButton {

}