.header {
  background-color: rgb(9, 185, 255);
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  padding: 10px;
}

.middle {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.right {
  padding: 10px;
}